<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Privit_Page</title>
</head>
<body>
<h1>Privit_Page</h1>
<div>
    <h2>방명록</h2>
    <div>
        <table>
            <thead>
                <tr>
                    <th>""</th><th>name</th><th>DATE</th><br>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{index}}</td><td>{{name}}</td><td>{{DATE}}</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>


</body>



</html>